:root {
    --light-pink: #f5d5e0;
    --medium-pink :#ff7a9a;
    --deep-pink: #eb4d6f; 
}

* {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/heart-bg.jpg");
    background-size: contain;

}

.container {
    margin: 15px;
    width: 350px;
    border: 2px dashed var(--deep-pink);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 15px;
}

.add-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
